@model IEnumerable<Product>



@{
    ViewData["Title"] = "List of Products";
}

@if (ViewBag.Searchs != null)
{
    <h2>Showing Results For: @ViewBag.Searchs</h2>
}
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 style=" min-height: 300px;"">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div>
                                <img src="@item.ImageURL" alt="@item.Name" class="imgg"  />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 offset-2">
                        <div class="card-body text-center">
                            <p class="card-text"><b>Category:  </b>@item.ProductCategory</p>
                            <p class="card-text"><b>Supplier:  </b>@item.Supplier.Name</p>
                            <p class="card-text"><b>Date Added:  </b>@item.Added.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Price:  </b>@item.Price.ToString("c")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i>Show Details
                                </a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i>Add to Cart (@item.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-4 col-xs-6 border-primary mb-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                End of Products
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-12" style="min-height: 363px; ">
                    <img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/3185.png" alt="Caution" style="max-width: 50%; padding: 10px; display: block; margin: auto;" />

                    <div class="card-body">
                        <p class="card-text">Either We dont have it or you dont need it</p>
                        <p class="card-text">You can try expanding your search if you can't find what you are looking for</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_CreateItem", "Product") 