@model List<Order>

@{ 
    ViewData["Title"] = "All Orders";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <h4>List Of all Customers Orders</h4>
            }
            else
            {
                <h4>List Of All Your Orders</h4>
            }

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th class="text-center">Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none;">
                            @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-info">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">
                            @order.User.Name
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>